<div class="image">
  <h4><%= link_to @drawing.user.name, @drawing.user %> drawed this image.</h4>
  <div class="drawing">
    <%= image_tag @drawing.image.url(:medium) %>
  </div>
  <h4>drawings with same scenery.</h4>
  <div class="drawings">
    <% for drawing in @picture.drawings %>
      <%= image_tag drawing.image.url(:thumb) unless drawing == @drawing %>
    <% end %>
  </div>
  <div class="tool-bar">
    <% if is_drawer?(@drawing, current_user) %>
      <%= drawing_edit_link(@drawing) %>
      <%= drawing_delete_link(@drawing) %>
    <% end %>
  </div>
</div>
