<div class="profile">
  <div class="profile-image">
    <%= image_tag @user.avatar.url(:thumb) %>
  </div>
  <div class="profile-detail">
    <h2><%= @user.name %></h2>
    <strong>E-mail</strong> <%= @user.email %> <br />
    <strong>URL</strong> <%= link_to @user.name, @user %> <br />
  </div>
  <div class="clear"></div>
  <h4>My Pictures</h4>
  <div class="my-picture">
    <% for picture in @user.pictures %>
    <%= link_to image_tag(picture.image.url(:thumb)), picture_path(picture) %>
    <% end %>
  </div>
  <h4>My Drawings</h4>
  <div class="my-drawing">
    <% for drawing in @user.drawings %>
    <%= link_to image_tag(drawing.image.url(:thumb)), edit_picture_drawing_path(drawing.picture, drawing) %>
    <% end %>
  </div>
  <%= link_to 'new picture', new_picture_path %>
  <div class="my-drawing">
  </div>
</div>
