<% content_for :javascripts do %>
  <%= javascript_include_tag 'jquery', 'pixastic/pixastic.core', 'pixastic/pixastic.jquery', 'pixastic/actions/edges' %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#processed').load(function(){
        $(this).pixastic('edges', {mono:true, invert:true});
      });
    });
  </script>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'picture' %>
<% end %>
<div class="image">
  <h4><%= link_to @picture.user.name, @picture.user %> uploaded this scenery.</h4>
  <div class="picture">
    <%= image_tag @picture.image.url(:medium) %>
    <%= image_tag @picture.image.url(:medium), :id => 'processed' %>
  </div>
  <h4>Drawings</h4>
  <div class="drawings">
    <% for drawing in @picture.drawings %>
      <%= link_to image_tag(drawing.image.url(:thumb)), picture_drawing_path(drawing.picture, drawing) %>
    <% end %>
  </div>

  <div class="tool-bar">
    <%= link_to '새로 그리기', new_picture_drawing_path(@picture) %>
    <% if is_uploader?(@picture, current_user) %>
      <%= picture_delete_link(@picture) %>
    <% end %>
  </div>
</div>
